In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Load the raw data
df = pd.read_json('../data/raw/data.json')

In [7]:
# Explore the data
df.head()

                                                    response
data       [[S1901_C01_010MA, S1901_C01_009E, S1901_C02_0...
objectId                                   ACSST5Y2021.S1901
tableName                                              S1901

In [17]:
# df['response']['data'][1]
len(df['response']['data'])

5

There are 5 arrays in the response, with the first one being non data. The remaining 4 should correspond to the following zipcodes:
1. `77055`
2. `77027`
3. `77024`
4. `77056`

Now I'll try and find the specific index that gives me the income data.

In [18]:
zip1, zip2, zip3, zip4 = df['response']['data'][1], df['response']['data'][2], df['response']['data'][3], df['response']['data'][4]

In [34]:
# 77027

# median income = 96,834

for i in range(len(zip2)):
    if zip2[i] == '96834':
        print(i)

# i = 161

161

In [37]:
# 77056

# median income = 101,563

for i in range(len(zip4)):
    if zip4[i] == '101563':
        print(i)

# i = 161

161

In [39]:
# 77024

# median income = 122,979

for i in range(len(zip1)):
    if zip1[i] == '122979':
        print(i)

# i = 161

161

In [40]:
# 77055

# median income = 64,277

for i in range(len(zip3)):
    if zip3[i] == '64277':
        print(i)

# i = 161

161

Looks like `161` is the index for **Median income (dollars)**

In [41]:
# trying with cleveland and 2019
df_cleveland = pd.read_json('../data/raw/cleveland-income-2019.json')

zip_cleveland = df_cleveland['response']['data'][1]

In [42]:
zip_cleveland[161] #16,999

'16999'

In [88]:
# trying with 2016
df_cle_inc_16 = pd.read_json('../data/raw/cleveland-income-2016.json')

zip_cle_inc_16 = df_cle_inc_16['response']['data'][1]
zip_cle_inc_16[161] # 14414, correct

'14414'

In [89]:
# trying with 2011
df_cle_inc_11 = pd.read_json('../data/raw/cleveland-income-2011.json')

zip_cle_inc_11 = df_cle_inc_11['response']['data'][1]
zip_cle_inc_11[161] # 14227, correct

'14227'

In [57]:
# trying with cleveland and 2019
df_cle_pop = pd.read_json('../data/raw/cleveland-pop-2017.json')

zip_cle_pop = df_cle_pop['response']['data'][1]

In [58]:
for i in range(len(zip_cle_pop)):
    if zip_cle_pop[i] == '20541':
        print(i)

95
243
334
350
527
613
676
691

In [65]:
df_cle_pop2 = pd.read_json('../data/raw/cleveland-pop-2013.json')

zip_cle_pop2 = df_cle_pop2['response']['data'][1]

for i in range(len(zip_cle_pop2)):
    if zip_cle_pop2[i] == '22593':
        print(i)

126
130
228
316
361
401
431
565

In [68]:
df_cle_pop3 = pd.read_json('../data/raw/cleveland-pop-2015.json')

In [74]:
zip_cle_pop3 = df_cle_pop3['response']['data'][1]

for i in range(len(zip_cle_pop3)):
    if zip_cle_pop3[i] == '22465':
        print(i)

138
142
240
328
373
413
443
582

In [75]:
df_cle_pop_new_2021 = pd.read_json('../data/raw/cleveland-pop-new-2021.json')
zip_cle_pop_new_2021 = df_cle_pop_new_2021['response']['data'][1]

for i in range(len(zip_cle_pop_new_2021)):
    if zip_cle_pop_new_2021[i] == '18945':
        print(i)

277

In [78]:
df_hou_pop_13 = pd.read_json('../data/raw/houston-pop-2013.json')
zip_hou_pop_13 = df_hou_pop_13['response']['data'][1]

for i in range(len(zip_hou_pop_13)):
    if zip_hou_pop_13[i] == '35367':
        print(i)

# 270

270

In [80]:
df_hou_pop_15 = pd.read_json('../data/raw/houston-pop-2015.json')
zip_hou_pop_15 = df_hou_pop_15['response']['data'][1]

for i in range(len(zip_hou_pop_15)):
    if zip_hou_pop_15[i] == '37042':
        print(i)

# 270

270

In [81]:
df_hou_pop_19 = pd.read_json('../data/raw/houston-pop-2019.json')
zip_hou_pop_19 = df_hou_pop_19['response']['data'][1]

for i in range(len(zip_hou_pop_19)):
    if zip_hou_pop_19[i] == '38190':
        print(i)

# 277
# they made a change sometime between 2015 and 19

277

In [83]:
df_hou_pop_18 = pd.read_json('../data/raw/houston-pop-2018.json')
zip_hou_pop_18 = df_hou_pop_18['response']['data'][1]

for i in range(len(zip_hou_pop_18)):
    if zip_hou_pop_18[i] == '38379':
        print(i)

# 277
# they made a change sometime between 2015 and 18

277

In [84]:
df_hou_pop_17 = pd.read_json('../data/raw/houston-pop-2017.json')
zip_hou_pop_17 = df_hou_pop_17['response']['data'][1]

for i in range(len(zip_hou_pop_17)):
    if zip_hou_pop_17[i] == '38110':
        print(i)

# 277
# they made a change sometime between 2015 and 17

277

In [86]:
df_hou_pop_16 = pd.read_json('../data/raw/houston-pop-2016.json')
zip_hou_pop_16 = df_hou_pop_16['response']['data'][1]

for i in range(len(zip_hou_pop_16)):
    if zip_hou_pop_16[i] == '37867':
        print(i)

# 270

270

Up until and including 2016 = `270`, 2017 and onward = `277`