# General cleaning of raw BRT files

In [15]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('../data/raw/boston/house_nonfam.csv', index_col=0)

In [34]:
df

,02108,02109,02110,02111,02113,02114,02115,02116,02118,02119,...,02170,02171,02184,02186,02199,02203,02210,02215,02445,02446
2013,74.1,64.0,71.2,56.9,82.6,78.2,79.8,63.1,63.5,46.3,...,44.9,45.7,31.5,24.1,60.3,-666666666.0,72.9,84.1,43.9,56.7
2014,72.8,66.0,75.0,59.7,79.8,77.0,78.2,61.4,62.4,44.8,...,44.6,46.2,30.7,23.5,55.3,-666666666.0,69.4,86.2,44.5,55.6
2015,65.3,71.4,71.4,57.8,79.4,74.6,77.8,61.8,60.1,46.1,...,42.7,46.4,33.0,24.2,58.2,-666666666.0,68.7,85.9,43.4,55.6
2016,64.7,73.2,73.1,56.6,78.7,74.0,76.3,63.2,59.7,45.8,...,45.1,47.3,33.3,23.1,54.2,-666666666.0,74.4,82.5,41.9,56.7
2017,58.3,68.5,66.6,57.3,79.5,73.7,74.2,62.7,59.5,45.5,...,46.4,48.7,35.3,22.7,56.7,100.0,70.2,81.3,40.7,55.2
2018,54.9,70.6,56.2,57.2,77.3,72.5,74.3,63.8,60.2,47.7,...,47.7,49.9,35.5,22.2,58.4,100.0,69.0,79.6,40.2,57.1
2019,58.3,66.1,53.4,55.1,79.1,72.2,74.9,63.1,59.2,48.7,...,47.2,49.3,33.2,22.4,60.9,100.0,71.4,78.0,41.8,55.4
2020,65.4,65.1,52.0,55.7,82.6,71.5,77.1,63.0,60.5,51.8,...,48.8,49.0,31.8,21.6,58.3,100.0,69.0,78.3,48.5,54.3

In [35]:
df.dropna(axis=1, how='all', inplace=True) # drop cols with all NaN's

In [49]:
# df = df.loc[:, (df > 0).any(axis=0)] # drop cols with all negative or 0's

df = df.loc[:, ~(df < 0).any(axis=0)] # UPDATE this one to just drop cols with any negative

,02108,02109,02110,02111,02113,02114,02115,02116,02118,02119,...,02169,02170,02171,02184,02186,02199,02210,02215,02445,02446
2013,74.1,64.0,71.2,56.9,82.6,78.2,79.8,63.1,63.5,46.3,...,46.8,44.9,45.7,31.5,24.1,60.3,72.9,84.1,43.9,56.7
2014,72.8,66.0,75.0,59.7,79.8,77.0,78.2,61.4,62.4,44.8,...,46.1,44.6,46.2,30.7,23.5,55.3,69.4,86.2,44.5,55.6
2015,65.3,71.4,71.4,57.8,79.4,74.6,77.8,61.8,60.1,46.1,...,46.1,42.7,46.4,33.0,24.2,58.2,68.7,85.9,43.4,55.6
2016,64.7,73.2,73.1,56.6,78.7,74.0,76.3,63.2,59.7,45.8,...,46.9,45.1,47.3,33.3,23.1,54.2,74.4,82.5,41.9,56.7
2017,58.3,68.5,66.6,57.3,79.5,73.7,74.2,62.7,59.5,45.5,...,46.1,46.4,48.7,35.3,22.7,56.7,70.2,81.3,40.7,55.2
2018,54.9,70.6,56.2,57.2,77.3,72.5,74.3,63.8,60.2,47.7,...,45.7,47.7,49.9,35.5,22.2,58.4,69.0,79.6,40.2,57.1
2019,58.3,66.1,53.4,55.1,79.1,72.2,74.9,63.1,59.2,48.7,...,47.9,47.2,49.3,33.2,22.4,60.9,71.4,78.0,41.8,55.4
2020,65.4,65.1,52.0,55.7,82.6,71.5,77.1,63.0,60.5,51.8,...,47.4,48.8,49.0,31.8,21.6,58.3,69.0,78.3,48.5,54.3

In [48]:
# df.loc[:, df.isin([-666666666.0, 100]).mean() != 1.0]

In [37]:
df

,02108,02109,02110,02111,02113,02114,02115,02116,02118,02119,...,02170,02171,02184,02186,02199,02203,02210,02215,02445,02446
2013,74.1,64.0,71.2,56.9,82.6,78.2,79.8,63.1,63.5,46.3,...,44.9,45.7,31.5,24.1,60.3,-666666666.0,72.9,84.1,43.9,56.7
2014,72.8,66.0,75.0,59.7,79.8,77.0,78.2,61.4,62.4,44.8,...,44.6,46.2,30.7,23.5,55.3,-666666666.0,69.4,86.2,44.5,55.6
2015,65.3,71.4,71.4,57.8,79.4,74.6,77.8,61.8,60.1,46.1,...,42.7,46.4,33.0,24.2,58.2,-666666666.0,68.7,85.9,43.4,55.6
2016,64.7,73.2,73.1,56.6,78.7,74.0,76.3,63.2,59.7,45.8,...,45.1,47.3,33.3,23.1,54.2,-666666666.0,74.4,82.5,41.9,56.7
2017,58.3,68.5,66.6,57.3,79.5,73.7,74.2,62.7,59.5,45.5,...,46.4,48.7,35.3,22.7,56.7,100.0,70.2,81.3,40.7,55.2
2018,54.9,70.6,56.2,57.2,77.3,72.5,74.3,63.8,60.2,47.7,...,47.7,49.9,35.5,22.2,58.4,100.0,69.0,79.6,40.2,57.1
2019,58.3,66.1,53.4,55.1,79.1,72.2,74.9,63.1,59.2,48.7,...,47.2,49.3,33.2,22.4,60.9,100.0,71.4,78.0,41.8,55.4
2020,65.4,65.1,52.0,55.7,82.6,71.5,77.1,63.0,60.5,51.8,...,48.8,49.0,31.8,21.6,58.3,100.0,69.0,78.3,48.5,54.3

In [38]:
df.loc[:, df.eq(0).mean() <= 0.25] # only keep if 25% 0 or less

,02108,02109,02110,02111,02113,02114,02115,02116,02118,02119,...,02170,02171,02184,02186,02199,02203,02210,02215,02445,02446
2013,74.1,64.0,71.2,56.9,82.6,78.2,79.8,63.1,63.5,46.3,...,44.9,45.7,31.5,24.1,60.3,-666666666.0,72.9,84.1,43.9,56.7
2014,72.8,66.0,75.0,59.7,79.8,77.0,78.2,61.4,62.4,44.8,...,44.6,46.2,30.7,23.5,55.3,-666666666.0,69.4,86.2,44.5,55.6
2015,65.3,71.4,71.4,57.8,79.4,74.6,77.8,61.8,60.1,46.1,...,42.7,46.4,33.0,24.2,58.2,-666666666.0,68.7,85.9,43.4,55.6
2016,64.7,73.2,73.1,56.6,78.7,74.0,76.3,63.2,59.7,45.8,...,45.1,47.3,33.3,23.1,54.2,-666666666.0,74.4,82.5,41.9,56.7
2017,58.3,68.5,66.6,57.3,79.5,73.7,74.2,62.7,59.5,45.5,...,46.4,48.7,35.3,22.7,56.7,100.0,70.2,81.3,40.7,55.2
2018,54.9,70.6,56.2,57.2,77.3,72.5,74.3,63.8,60.2,47.7,...,47.7,49.9,35.5,22.2,58.4,100.0,69.0,79.6,40.2,57.1
2019,58.3,66.1,53.4,55.1,79.1,72.2,74.9,63.1,59.2,48.7,...,47.2,49.3,33.2,22.4,60.9,100.0,71.4,78.0,41.8,55.4
2020,65.4,65.1,52.0,55.7,82.6,71.5,77.1,63.0,60.5,51.8,...,48.8,49.0,31.8,21.6,58.3,100.0,69.0,78.3,48.5,54.3