# Creating the final dataset to make predictions from

In [1]:
import pandas as pd
import numpy as np

In [26]:
eugene = pd.read_csv('../data/processed/eugene.csv', index_col=0)
kansas = pd.read_csv('../data/processed/kansas.csv', index_col=0)
boston = pd.read_csv('../data/processed/boston.csv', index_col=0)

In [27]:
boston = boston[boston['unlinked_passenger_trips'].notna()]
boston.insert(0, 'system', 'boston')

In [28]:
boston

,system,income,pop,age,house_married,house_nonfam,house_m_single,house_f_single,car,biz,unlinked_passenger_trips,uza_population,voms,vehicle_revenue_miles
2014,boston,67678.73,24174.00,34.48,29.88,53.53,3.97,13.39,42.66,654.05,9080900.0,4181019.0,30.0,1034600.0
2015,boston,69414.59,24465.46,34.63,30.17,53.45,3.94,13.34,42.05,665.66,9979893.0,4181019.0,30.0,1049824.0
2016,boston,72743.76,24726.84,34.69,30.19,53.66,4.03,13.01,42.05,674.82,11371335.0,4181019.0,30.0,1064618.0
2017,boston,76824.84,25050.51,34.74,31.04,53.16,4.07,12.59,40.99,681.63,10538096.0,4181019.0,30.0,1064286.0
2018,boston,80227.38,25350.38,34.81,31.34,52.91,4.10,12.47,41.19,690.18,10540640.0,4181019.0,34.0,1032038.0
2019,boston,85504.62,25479.68,34.88,31.76,52.85,4.10,12.08,40.91,NaN,11490833.0,4181019.0,42.0,1474538.0
2020,boston,89026.27,25601.27,34.79,31.67,53.33,3.96,11.80,41.46,NaN,9214174.0,4181019.0,65.0,1454757.0

In [29]:
kansas = kansas[kansas['unlinked_passenger_trips'].notna()]
kansas.insert(0, 'system', 'kansas')

kansas

,system,income,pop,age,house_married,house_nonfam,house_m_single,house_f_single,car,biz,unlinked_passenger_trips,uza_population,voms,vehicle_revenue_miles
2013,kansas,45802.88,12430.75,34.81,26.25,56.32,3.47,13.92,60.07,564.12,1591117.0,1519417.0,11.0,512874.0
2014,kansas,47554.71,12435.00,34.75,26.20,57.65,3.49,12.68,60.88,584.88,1545400.0,1519417.0,11.0,512300.0
2015,kansas,50107.75,12690.88,34.72,26.87,57.90,3.40,11.82,59.50,604.62,1435736.0,1519417.0,11.0,512787.0
2016,kansas,51233.25,12784.75,34.28,26.84,59.12,2.94,11.10,58.57,622.88,1350482.0,1519417.0,11.0,518198.0
2017,kansas,53880.38,12935.62,34.65,27.44,59.25,2.78,10.51,55.62,584.50,1240926.0,1519417.0,12.0,498988.0
2018,kansas,57611.38,13127.62,34.79,27.81,58.71,2.72,10.75,50.45,595.62,1160189.0,1519417.0,11.0,455147.0
2019,kansas,58913.50,13253.00,34.51,28.46,58.88,2.73,9.96,50.72,NaN,1109564.0,1519417.0,11.0,455528.0
2020,kansas,63147.88,13579.75,34.19,28.21,59.06,2.75,9.99,49.80,NaN,786333.0,1519417.0,9.0,345827.0

In [30]:
eugene = eugene[eugene['unlinked_passenger_trips'].notna()]
eugene.insert(0, 'system', 'eugene')

eugene

,system,income,pop,age,house_married,house_nonfam,house_m_single,house_f_single,car,biz,unlinked_passenger_trips,uza_population,voms,vehicle_revenue_miles
2013,eugene,39506.0,34814.4,32.38,37.26,48.12,3.74,10.92,19.84,1207.6,2707309.0,247421.0,8.0,423727.0
2014,eugene,39605.8,34692.4,32.50,36.60,48.92,3.72,10.70,21.94,1216.2,2806800.0,247421.0,8.0,427600.0
2015,eugene,38930.2,34721.2,32.62,36.44,49.54,3.72,10.28,26.92,1229.0,2762085.0,247421.0,8.0,429059.0
2016,eugene,40850.6,35221.4,32.86,36.66,49.26,3.86,10.24,28.68,1247.2,2689562.0,247421.0,8.0,437222.0
2017,eugene,43581.8,35649.8,32.76,37.06,49.08,4.34,9.54,30.72,1264.4,2716901.0,247421.0,10.0,454609.0
2018,eugene,45839.0,36136.2,32.82,36.44,49.12,4.80,9.64,31.76,1259.2,3496291.0,247421.0,13.0,685086.0
2019,eugene,47751.6,36737.8,32.98,36.56,48.86,4.60,9.98,34.80,NaN,3790433.0,247421.0,13.0,688848.0
2020,eugene,49584.2,37337.8,33.44,36.70,48.40,4.76,10.12,31.00,NaN,3294327.0,247421.0,13.0,661020.0

In [31]:
pd.concat([eugene, kansas, boston])

,system,income,pop,age,house_married,house_nonfam,house_m_single,house_f_single,car,biz,unlinked_passenger_trips,uza_population,voms,vehicle_revenue_miles
2013,eugene,39506.00,34814.40,32.38,37.26,48.12,3.74,10.92,19.84,1207.60,2707309.0,247421.0,8.0,423727.0
2014,eugene,39605.80,34692.40,32.50,36.60,48.92,3.72,10.70,21.94,1216.20,2806800.0,247421.0,8.0,427600.0
2015,eugene,38930.20,34721.20,32.62,36.44,49.54,3.72,10.28,26.92,1229.00,2762085.0,247421.0,8.0,429059.0
2016,eugene,40850.60,35221.40,32.86,36.66,49.26,3.86,10.24,28.68,1247.20,2689562.0,247421.0,8.0,437222.0
2017,eugene,43581.80,35649.80,32.76,37.06,49.08,4.34,9.54,30.72,1264.40,2716901.0,247421.0,10.0,454609.0
2018,eugene,45839.00,36136.20,32.82,36.44,49.12,4.80,9.64,31.76,1259.20,3496291.0,247421.0,13.0,685086.0
2019,eugene,47751.60,36737.80,32.98,36.56,48.86,4.60,9.98,34.80,NaN,3790433.0,247421.0,13.0,688848.0
2020,eugene,49584.20,37337.80,33.44,36.70,48.40,4.76,10.12,31.00,NaN,3294327.0,247421.0,13.0,661020.0
2013,kansas,45802.88,12430.75,34.81,26.25,56.32,3.47,13.92,60.07,564.12,1591117.0,1519417.0,11.0,512874.0
2014,kansas,47554.71,12435.00,34.75,26.20,57.65,3.49,12.68,60.88,584.88,1545400.0,1519417.0,11.0,512300.0
2015,kansas,50107.75,12690.88,34.72,26.87,57.90,3.40,11.82,59.50,604.62,1435736.0,1519417.0,11.0,512787.0
2016,kansas,51233.25,12784.75,34.28,26.84,59.12,2.94,11.10,58.57,622.88,1350482.0,1519417.0,11.0,518198.0
2017,kansas,53880.38,12935.62,34.65,27.44,59.25,2.78,10.51,55.62,584.50,1240926.0,1519417.0,12.0,498988.0
2018,kansas,57611.38,13127.62,34.79,27.81,58.71,2.72,10.75,50.45,595.62,1160189.0,1519417.0,11.0,455147.0
2019,kansas,58913.50,13253.00,34.51,28.46,58.88,2.73,9.96,50.72,NaN,1109564.0,1519417.0,11.0,455528.0
2020,kansas,63147.88,13579.75,34.19,28.21,59.06,2.75,9.99,49.80,NaN,786333.0,1519417.0,9.0,345827.0
2014,boston,67678.73,24174.00,34.48,29.88,53.53,3.97,13.39,42.66,654.05,9080900.0,4181019.0,30.0,1034600.0
2015,boston,69414.59,24465.46,34.63,30.17,53.45,3.94,13.34,42.05,665.66,9979893.0,4181019.0,30.0,1049824.0
2016,boston,72743.76,24726.84,34.69,30.19,53.66,4.03,13.01,42.05,674.82,11371335.0,4181019.0,30.0,1064618.0
2017,boston,76824.84,25050.51,34.74,31.04,53.16,4.07,12.59,40.99,681.63,10538096.0,4181019.0,30.0,1064286.0
2018,boston,80227.38,25350.38,34.81,31.34,52.91,4.10,12.47,41.19,690.18,10540640.0,4181019.0,34.0,1032038.0
2019,boston,85504.62,25479.68,34.88,31.76,52.85,4.10,12.08,40.91,NaN,11490833.0,4181019.0,42.0,1474538.0
2020,boston,89026.27,25601.27,34.79,31.67,53.33,3.96,11.80,41.46,NaN,9214174.0,4181019.0,65.0,1454757.0